<!DOCTYPE html>
<html>

<body>
  <hgroup>
    <h1>aaa</h1>
    <h2>bbb</h2>
  </hgroup>

  <abbr title="World Wide Web">WWW</abbr>

  <cite>"What is the difference between the Web and the Internet?"</cite>. W3C Help and FAQ. W3C. 2009. Archived from
  the original on <time datetime="2015-07-09">9 July 2015</time>. Retrieved <time datetime="2015-07-16">16 July 2015</time>.

  <figure>
    <img width="100" src="../assets/baoman.jpg">
    <figcaption>暴走</figcaption>
  </figure>

  <dfn>Internet</dfn> is x

  <nav>
    <p>aaa</p>
  </nav>

  <pre><samp>
  GET /home.html HTTP/1.1
  Host: www.example.org
  </samp>

  <code>&lt;html&gt;</code>
  </pre>


  <s>200</s>

  <a href="javascript:void 0;">死链接</a>
  <script type="text/javascript" src="../js/test.js"></script>
</body>

</html>